body
{

    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background: #1D201F; /*#9cb8b3; */
    display: table;
    width: 100%;
}
.inside {
    background: #ead2ac;
}
.centered
{
     width:300px;
      height:200px;
      position:absolute;
      left:50%;
      top:40%;
      margin:-100px 0 0 -150px;

  /*  width: 320px; */
/*    position:absolute;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px; */

}

/* had container1 after centerd in the html but kinda useless */
.container1
{
    display: grid;
     width: 100%;
}

@media screen and (max-width: 700px) {

  h3
  {
       width: 70%;
  }

  .container1
  {
      display: grid;
       width: 80%;
  }

  h1
  {
      width: 50%;
  }

}

/*News Feed styles page begins here*/

.tasks
{
  color: #FFFFFF;
  /*Scroll part of tasks*/
  overflow: scroll;
  position: absolute;
  width: 50%;
  height: 75%;
  z-index: 15;
  top: 30%;
  left: 49%;
  margin: -100px 0 0 -150px;
}

.taskClass
{
  text-align: center;
  letter-spacing:28px;
  /*22*/
  width: 105%;
  color: #DF7F7F;
  font-size: 45px;
}

.taskList
{
  font-size: 28px;
  border-radius: 25px;
  border-color: white;
  background: #FF0000;
  padding: 20px;
  width: 50%;
  height: 25%;
}
/*News feed styles page ends here*/


h1
{

     text-align: center;
     letter-spacing:24px;
     /*22*/
     width: 100%;
     color: #DF7F7F;
}

h2
{
  color: #DCDCDC;
  text-align: left;
  width: 100%;
}
/*Start of about styles*/
.about_title
{
  font-size: 60px;
}
.about_p
{
  color: #FFFAF0;
  width: 100%;
  text-align: center;
}
/*End of about styles*/
h3
{
     color: #EAD2AC;
     letter-spacing: 1.5px;
     font-weight: 100;
}

  input[type=text], input[type=password], select {

        padding: 12px 20px;
    /*    width: 320px; */
        margin: 8px 0;
        color: #1D201F;
        background: #ead2ac;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }


    button[type=submit], select {

          padding: 12px 20px;
      /*    width: 320px; */
          margin: 8px 0;
          color: #1D201F;
          background: #DF7F7F;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-weight: 900;
          font-size: 18px;
      }


      button[type="submit"]:hover
      {
	       background: #FF7F7F;
       }
/* MAKE IT SOMEHOW ZOOM WHEN HOVER ON 'SIGN UP'. DOESN'T WORK FOR NOW */
a{
    transition: transform .2s;
}
a:hover{
transform: scale(1.5);
}

/*menu styles

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DF7F7F;
}

li {
    float: left;
}

li a {
    display: block;
    color: #1D201F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ead2ac;
}

end menu styles
  */
table, th, td
{
 text-align: center;
 margin: auto;
 padding: 1.2rem;
 width: 50%;
}

th
{
 width: 50%;
}


.noTask
{

  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  backgorund-color: pink;
}



.task
{

  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 200px;
  background-color: #D1DEDE;
}

.noTask
{
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 200px;
  background-color: #a8a4a6;
}
.weekDays
{

  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 200px;
  background-color: #DF7F7F;
  color: white;
}
